
/*-----MAIN BODY-----*/
.main {
  font-size:14px;
  color:#505E67;
}
.main .headline {
  font-size:20px;
  color:#505E67;
  padding:0;
  font-weight: 900;
  line-height: 1.5em;
}
.main h1, h2, h3, h4, h5, h6 {
  font-size:20px!important;
  color:#505E67!important;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0!important;
  padding:0!important;
  font-weight: 900;
}
.main .paragraph {
  font-size:14px;
  color:#505E67;
  line-height: 1.5em;
}
.main p {
  font-size: 14px!important;
  color: #505E67!important;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.5em!important;
  margin: 0;
  padding: 0;
}
.main p {
  font-size:14px;
  color:#4c4c4c;
  line-height: 1.5em;
}
 .main a {
  color:#3498db;
}

/*-----ARTICLE-----*/
.article {
  font-size:14px;
  color:#505E67;
  padding: 15px 0;
}
.article .headline {
  font-size:20px;
  color:#505E67;
  padding:0;
  font-weight: 900;
  line-height: 1.5em;
}
.article .paragraph {
  font-size:14px;
  color:#505E67;
  margin:5px 0;
  line-height: 1.5em;
}
.article img {
  padding: 5px;
  margin: 5px;
}
.article .text {
  padding: 12px;
}
.article .permalink {
  text-align: right;
}
.article a {
  color: #3498db;
}

/*-----OVERALL STYLES-----*/
body {
  max-width:600px;
  margin:auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-color:#ffffff;
  -webkit-font-smoothing: antialiased;
}
td {
  border-spacing:0;
}
tr {
  border-spacing:0;
}
table {
  max-width:600px!important;
  border-spacing:0!important;
  border:none;
}
strong {
  font-weight: 700!important;
}
.containerbox {
  width:100%;
  max-width:600px!important;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-color:#ffffff;
}
.coupon {
  padding: 12px;
}
a {
  color:#3498db;
}


/* Removes unwanted borders around hyperlinked images */
a img {
  border:0;
  outline:none;
  text-decoration:none;
}

#aweber_rem {
  margin: 0 auto;
}
img {
  height: auto;
}
/*-----MEDIA QUERIES-----*/

/* -Smaller Mobile Devices- */
@media only screen and (min-width:10px) and (max-width: 400px) {
    .containerbox {
      width:100%!important;
      margin:auto;
      clear:both!important;
      display: block;
    }
    table {
      width:100%;
    }
    .headline {
      font-size:22px!important;
      padding-left: 20px!important;
      padding-right: 20px!important;
    }
    .paragraph {
      font-size:18px!important;
      padding-left: 20px!important;
      padding-right: 20px!important;
    }
    img {
      height:auto!important;
      max-height:300%;
      max-width:100%;
    }
    .share img {
      width:20px!important;
      height:auto!important;
      display:inline-block;
    }
    td {
      width: 100%!important;
      float: left;
      display: block!important;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
}

/* -Larger Mobile Devices- */
@media only screen and (min-width:401px) and (max-width: 500px) {
    .containerbox {
      width:100%!important;
      margin:auto;
      clear:both!important;
      display: block;
    }
    table {
      width:100%;
    }
    .headline {
      font-size:26px!important;
      padding-left: 20px!important;
      padding-right: 20px!important;
    }
    .paragraph {
      font-size:22px!important;
      padding-left: 20px!important;
      padding-right: 20px!important;
    }
    img {
      height:auto!important;
      max-height:300%;
      max-width:100%;
    }
    .share img {
      width:20px!important;
      height:auto!important;
      display:inline-block;
    }
    td {
      width: 100%!important;
      float: left;
      display: block!important;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
}
